@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hack";
  src: url(/assets/fonts/Hack-Regular.ttf);
  display: swap;
}

* {
  font-family: "Hack", monospace;
  font-size: 14px;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

a {
  text-decoration: underline;
}
